<% include ../layout/header-admin.ejs %>

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <% orders.forEach(function(or){ %>
        <a href="/admin/cart/<%= or._id %>">
            <div class="category adminCategory clearfix">
                <h3 class="float-left">
                    <span class="maintext">
                        <%= or.name %>
                    </span>
                </h3>
            </div>
        </a>
        <% }) %>
    </div>
</section>

<% include ../layout/footer-admin.ejs %>