<!-- Header -->
<% include ../layout/header-admin.ejs %>

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="row">
            <div>
                <p class="p-Admin">Welcome to Dashboard Admin</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<% include ../layout/footer-admin.ejs %>