<% include ../layout/header-admin.ejs %>

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <%   cate.forEach(function(ca){ %>
        <div class="category adminCategory clearfix">
            <h3 class="float-left">
                <span class="maintext">
                    <%= ca.name%>
                </span>
            </h3>
            <!-- <a data-toggle="modal" data-target="#exampleModal" class="btn btn-danger float-right" href="/">Delete</a> -->
            <a class="btn btn-danger float-right" href="/admin/listCategory/<%= ca._id %>">Delete</a>
            <a class="btn btn-success float-right editAdmin" href="/admin/editCategory/<%= ca._id %>">Edit</a>
        </div>
        <% }); %>
    </div>
</section>

<% include ../layout/footer-admin.ejs %>